/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/bin/Debug/netcoreapp3.0/SinglyLinkedList.deps.json
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/bin/Debug/netcoreapp3.0/SinglyLinkedList.runtimeconfig.dev.json
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/bin/Debug/netcoreapp3.0/SinglyLinkedList.runtimeconfig.json
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/Debug/netcoreapp3.0/SinglyLinkedList.AssemblyInfo.cs
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/Debug/netcoreapp3.0/SinglyLinkedList.csproj.FileListAbsolute.txt
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/project.assets.json
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/SinglyLinkedList.csproj.nuget.dgspec.json
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/SinglyLinkedList.csproj.nuget.g.props
/HRProblems/LinkedLists/InsertAtEndSinglyLinkedList/obj/SinglyLinkedList.csproj.nuget.g.targets
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/Debug/netcoreapp3.0/InsertAtHeadSinglyLinkedList.AssemblyInfo.cs
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/Debug/netcoreapp3.0/InsertAtHeadSinglyLinkedList.csproj.FileListAbsolute.txt
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/InsertAtHeadSinglyLinkedList.csproj.nuget.dgspec.json
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/InsertAtHeadSinglyLinkedList.csproj.nuget.g.props
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/InsertAtHeadSinglyLinkedList.csproj.nuget.g.targets
/HRProblems/LinkedLists/InsertAtHeadSinglyLinkedList/obj/project.assets.json
